$base-color: #404d6a;
$button-gradient: 'matte';
$active-color: #3f4c68;

@import 'sencha-touch/default/all';

@inlcude sencha-touch-all;
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-toolbar-forms;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-carousel;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-form;
@include sencha-sheet;
@include sencha-loading-spinner;
@include sencha-msgbox;



// dashboards list
.dashboards-list {
    text-align: center;

    .dashboards-list-container {
        max-width: 1024px;
        margin: 0 auto;
    }

    .dashboards-list-item {
        background: rgba(38, 38, 38, .5);
        border: 1px solid rgba(67, 67, 67, .5);
        height: 180px;
        -webkit-transition: background .2s ease-in, border-color .2s ease-in;

        body.x-phone & {
            margin: 0 20px;
            margin-top: 20px;
            padding: 30px;

            &:first-child {
                margin-top: 0;
            }
        }

        body:not(.x-phone) & {
            display: inline-block;
            padding: 30px 50px;
        }

        .image {            
            background-position: center;
            background-repeat: no-repeat;
            height: 75px;
            max-width: 212px;

            body.x-phone & {
                margin: 0 auto;
            }

            body:not(.x-phone) & {
                width: 212px;
            }
        }

        .name {
            padding-top: 20px;
            font-size: 20px;
            text-shadow: 0 1px 0 #000;
            color: #fff;            
        }

        .x-landscape & {
            margin: 10px;
        }

        .x-portrait & {
            margin: 20px;
        }
    }

    .x-item-pressed {
        background: rgba(0, 53, 41, .7);
        border-color: rgba(0, 53, 41, .8);
    }

    .dashboards-list-inner {
		background-image: url(../images/background.png);
        background-position: top center;
        background-repeat: repeat;
        line-height: 10px;

        .x-landscape & {
            padding-top: 10px;
        }

        .x-portrait & {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }	   
}

.panel-shadow {
  -moz-box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 3px 3px 4px #000;
  box-shadow: 3px 3px 4px #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');

}
.x-title .x-innerhtml {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0em;
}

.infoPanel {
  background-color: white;
  padding: 10px 10px 5px 10px;
  border-radius: 12px;
  margin: 10px;
}

#email .x-input-url {
  color: #0000FF;
  text-decoration: underline;
}

#imagelist .x-list-item-label{
  border-top: 0px;
  border-bottom: 0px;
}

#dragfilefield .x-input-text {
  border: 1px;
  border-radius: 4px;
  border-style: dashed;
  background: #E6E7E2;
}

#dragpanel .x-docking-vertical {
  border: 0px;
  background: #ffffff 
}

#search-bar .x-field {
  width: 10em;
  margin: .5em;
  min-height: 0;
  border-bottom: 0;
  background: transparent;
}
